/* This CSS variable is setting the margin on the left and right sides of the page. */
:root {
  --page-spacing: 10%;
}

.MainContent {
  font-family: 'Open Sans', sans-serif;
  margin: 0 var(--page-spacing);
}

/* The base CSS class for the bar chart; setting up Flexbox to display the bars horizontally. */
.BarChart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

/* This is CSS for the individual bars in the chart; using margin and padding to leave space between the bars and a transition to make it more visually appealing. */
.BarChart-bar {
  margin: 15px 0;
  padding: 2px 0;
  text-align: center;
  transition: padding 0.5s,
              background-color 1.5s;
}

/* Setting different background colors for the bars and alternating them to make them easier to distinguish. */
.BarChart-bar:nth-of-type(odd) {
  background-color: #D5E4FB;
}

.BarChart-bar:nth-of-type(even) {
  background-color: #A5BAD9;
}

.BarChart-bar:first-of-type {
  margin: 0 0 15px 0;
}

.BarChart-bar:last-of-type {
  margin: 15px 0 0 0;
}
